@using Portfolio.Models

<section id="about" class="section">

<div class="container " style="height: 100vh; width: auto">
    <div class="row" style="display: flex; align-items: start; justify-content: center; padding: 10px">
        <div class="card z-depth-5" style="border-radius: 15px;">
            <div class="col s10">
                <div class="card-content center-align">
                    <h4>O mnie</h4>
                    <p>
                        Z wyróżnieniem ukończyłem studia na kierunku Informatyka w Budowie
                        Maszyn na Akademii Górniczo - Hutniczej im. Stanisława Staszica w Krakowie.
                        Jestem osobą ambitną i pracowitą, nie boję się wyzwań. W swojej pracy
                        stawiam na samodzielność i podejmowanie inicjatywy, zgodnie z założeniami
                        jednej z moich ulubionych książek: “Extreme Ownership”. Moja otwartość
                        i wrodzona łatwość w nawiązywaniu kontaktów pozwala mi również na
                        efektywną pracę w zespole.

                    </p>
                </div>
            </div>

            <div class="col s2">
                <img src="images/AghWyscigFota2.png" alt="" class="circle responsive-img" style="padding: 20px"> <!-- notice the "circle" class -->
            </div>

        </div>
    </div>

    <div class="row">
        <Experience/>
    </div>

</div>

</section>

@code {

}
 