<section id="portfolio" class="section">
    
    <div class="row">
        <div class="col s12" style="align-content: center; align-items:center">

            <h2 class="blue-grey-text text-darken-2">Portfolio</h2>
            <h4 class="blue-grey-text text-darken-2">Wkrótce ....</h4>

        </div>
   
          
    </div>


</section>


@* 
<div>
    <h2 class="center-align">Portfolio</h2>

    <div class="row">

        <div class="col s4">
            <div class="card">
                <div class="card-image">

                    <img src="images/PomiarAQI.png">
                    <span class="card-title">System monitoringu jakości powietrza</span>
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>


        <div class="col s4">
            <div class="card">
                <div class="card-image">

                    <img src="images/Rigol1.png">
                    <span class="card-title">System monitoringu jakości powietrza</span>
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>







    </div>



</div>

 *@
@code {

}
